<div class="container">
    <header>
        <div class="titles">
            <h1 class="headline text-large im_font">
                NOSSOS <strong style="color:#5D9A01;">SERVIÇOS</strong>
            </h1>
        </div>
        <div class="hero-gear2 visible-lg visible-md">
            <img src="../images/icon_hero_gear_im2.png" style="height: 196px;">
        </div>
    </header>
</div>
<div class="container-fluid background_im">

    <div class="container">
        <h4>Imixle é <span class="im_font" style="color:#5D9A01;">SOLUÇÃO</span> em tecnologia para sua empresa</h4>
        <p>A <span class="im_font" style="color:#5D9A01;">Imixle</span> é uma empresa de tecnologia da informação onde oferecemos uma variedade de ferramentas para ajudar empresas de todos os tipos a ter sucesso dentro e fora da web, nosso principal objetivo é tornar tudo o mais fácil e possível para você encontrar as soluções de que precisa e conseguir fazer as coisas que precisa fazer. Para isso, contamos com nossas equipes especializadas que estão sempre preparadas para melhor ajuda-los</p>
    </div>

</div>

<div class="container padding-tb">

    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail text-center card-hover" style="padding-top: 50px; cursor: pointer" ui-sref="contato">
                <md-icon class="material-icons icon-featured">web</md-icon>
                <div class="caption text-center">
                    <h3>Websites</h3>
                    <p>
                        Criação de Sites em HTML5, Layout Responsivo seu site atraente e com layout que se adapta para visualização em Celulares / Tablets.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail text-center card-hover" style="padding-top: 50px; cursor: pointer" ui-sref="contato">
                <md-icon class="material-icons icon-featured">android</md-icon>
                <div class="caption text-center">
                    <h3>Aplicativos</h3>
                    <p>
                        Desenvolvimento de Aplicativos para Android, aplicativos sob medida, para atender suas necessidades
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail text-center card-hover" style="padding-top: 50px; cursor: pointer" ui-sref="contato">
                <md-icon class="material-icons icon-featured">desktop_windows</md-icon>
                <div class="caption text-center">
                    <h3>Suporte de TI</h3>
                    <p>
                        Suporte tecnológico para solucionar qualquer problema ou dúvida relacionada ao seu computador, notebook ou smartphone
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail text-center card-hover" style="padding-top: 50px; cursor: pointer" ui-sref="contato">
                <md-icon class="material-icons icon-featured">backup</md-icon>
                <div class="caption text-center">
                    <h3>Backup de Dados</h3>
                    <p>
                        Solução completa em Backup de Dados para garantir que os negócios continuarão existindo no caso de desastres, ou até mesmo de simples falhas tecnológicas ou humanas
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<p>&nbsp;</p>
<hr>
<p>&nbsp;</p>