<div class="container">
    <header>
        <div class="titles">
            <h1 class="headline text-large im_font">
                NOSSOS <strong style="color:#5D9A01;">SERVIÇOS</strong>
            </h1>
        </div>
        <div class="hero-gear2 ">
            <img src="../images/icon_hero_gear_im2.png" style="height: 196px;">
        </div>
    </header>
</div>
<div class="container-fluid background_im">

    <div class="container">
        <p>Imixle é SOLUÇÃO em tecnologia para sua empresa</p>
        <p>A <span class="im_font" style="color:#5D9A01;">Imixle</span> é uma empresa de tecnologia da informação onde oferecemos uma variedade de ferramentas para ajudar empresas de todos os tipos a ter sucesso dentro e fora da web, nosso principal objetivo é tornar tudo o mais fácil e possível para você encontrar as soluções de que precisa e conseguir fazer as coisas que precisa fazer. Para isso, contamos com nossas equipes especializadas que estão sempre preparadas para melhor ajuda-los</p>
    </div>

</div>

<div class="container padding-tb">
    <div class="row">
        <div class="col-sm-3">

            <md-card class="card-hover">
                <img src="https://cloud.google.com/_static/ae7b6b134f/images/cloud/solutions/landing/media.svg" style="height: 140px;">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Vertical action buttons</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                </md-card-content>
                <md-card-actions layout="column" layout-align="start">
                    <md-button>Action 1</md-button>
                </md-card-actions>
            </md-card>

        </div>
        <div class="col-sm-3">

            <md-card class="card-hover">
                <img src="https://cloud.google.com/_static/ae7b6b134f/images/cloud/solutions/landing/media.svg" style="height: 140px;">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Vertical action buttons</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                </md-card-content>
                <md-card-actions layout="column" layout-align="start">
                    <md-button>Action 1</md-button>
                </md-card-actions>
            </md-card>

        </div>
        <div class="col-sm-3">

            <md-card class="card-hover">
                <img src="https://cloud.google.com/_static/ae7b6b134f/images/cloud/solutions/landing/media.svg" style="height: 140px;">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Vertical action buttons</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                </md-card-content>
                <md-card-actions layout="column" layout-align="start">
                    <md-button>Action 1</md-button>
                </md-card-actions>
            </md-card>

        </div>
        <div class="col-sm-3">

            <md-card class="card-hover">
                <img src="https://cloud.google.com/_static/ae7b6b134f/images/cloud/solutions/landing/media.svg" style="height: 140px;">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Vertical action buttons</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                </md-card-content>
                <md-card-actions layout="column" layout-align="start">
                    <md-button>Action 1</md-button>
                </md-card-actions>
            </md-card>

        </div>
    </div>


</div>