<div class="container">
    <header>
        <div class="titles">
            <h1 class="headline text-large im_font">
                SOBRE A <strong style="color:#5D9A01;">IMIXLE</strong>
            </h1>
        </div>
        <div class="hero-gear2 ">
            <img src="../images/icon_hero_gear_im2.png" style="height: 196px;">
        </div>
    </header>
</div>
<div class="container-fluid background_im">

    <div class="container">
        <p>Criar grandes produtos depende de grandes pessoas.</p>
        <p>A <span class="im_font" style="color:#5D9A01;">Imixle</span> é uma empresa de tecnologia da informação onde oferecemos uma variedade de ferramentas para ajudar empresas de todos os tipos a ter sucesso dentro e fora da web, nosso principal objetivo é tornar tudo o mais fácil e possível para você encontrar as soluções de que precisa e conseguir fazer as coisas que precisa fazer. Para isso, contamos com nossas equipes especializadas que estão sempre preparadas para melhor ajuda-los</p>
    </div>

</div>

<div class="container">
    <h3 class="im_font">QUEM NÓS <strong style="color:#5D9A01;">SOMOS</strong></h3>

    <p>A Imixle está orientada a buscar a excelência, agindo com objetividade, dedicação, compromisso e responsabilidade trazendo resultados para os clientes visando sua total satisfação.</p>
    <p>Contamos com profissionais da área da tecnologia, logística e contabilidade que formam uma equipe altamente motivada, capacitada, treinada, e que se apoia em três pilares:</p>
    <p><span class="im_font">O Foco</span>, interpretando e atendendo as necessidades do setor de tecnologia.</p>
    <p><span class="im_font">A Qualidade</span>, decorrente da experiência combinada com trabalho continuo junto aos colaboradores em busca de seu aperfeiçoamento e atualização.</p>
    <p><span class="im_font">O Compromisso</span> e dedicação personalizada, fazem parte do nosso estilo de trabalho.</p>

    <hr>
    <h3 class="im_font">NOSSA <strong style="color:#5D9A01;">MISSÃO</strong></h3>

    Oferecer segurança, conança e responsabilidade aos clientes através dos nossos serviços;<br>
    Manter sempre um bom relacionamento constituído na honestidade;<br>
    Ser sempre cooperativo, adotando metodologias de seriedade e transparência.<br>
</div>

<p>&nbsp;</p>
<hr>
<p>&nbsp;</p>